<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 启用二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置不要积极地去查询关联对象 默认false -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 延迟加载触发方法      使用 (equals,clone,hashCode,toString)时不延迟加载  -->
        <setting name="lazyLoadTriggerMethods" value="clone"/>
    </settings>


    <!-- 别名定义 -->
    <typeAliases>
        <package name="com.andrew.model" />
    </typeAliases>



</configuration>
